body {
  background-color:black;

}

h1 {
  color: #00fa00;
  font-family: monospace;
  margin:0;
  font-size:20px;
}

p {
  color: #00fa00;
  font-family: monospace;
  margin:0;
  font-size:25px;
  position: relative;
  left:50px;
  top:400px;
  
}

a{
  color: #00fa00;
  font-family: monospace;
  margin:0;
  font-size:30px;

}

.container {
  position:absolute;
  transform:translate();
  }

/*.container h1{
  margin:0;
  white-space:nowrap;
  overflow:hidden;
  animation:type 2.5s steps(30,end), caret-blink .6s ease infinite;
  border-right:8px solid #00fa00;*/

.container p{
  margin:0;
  white-space:nowrap;
  overflow:hidden;
  animation:type 2.5s steps(50,start), caret-blink .6s ease infinite;
  border-right:8px solid #00fa00;

}


@keyframes type {
  0% { 
    width:0;
  }
  100%{
    width:100%;
  }
}
@keyframes caret-blink{
  0%{
    border-color:transparent;

  }
  50%{
    border-color:#00fa00;
  }
  100%{
     border-color:transparent;
  }
}

